body {
    padding-top: 3rem;
    padding-bottom: 3rem;
/*    background-image: url('../images/pattern.png');
    background-repeat: repeat;*/
}

main {
    background-color: bisque;
    color: rgb(143, 67, 13);
}

.bg-primary {
    background-color: #e4dfec !important;
}

header {
    background-color: bisque;
}

.row {
    margin-top: 0.25em;
    margin-left: 20%;
    margin-right: 20%;
    border: #680000;
}

.col-md-6 {
    background-color: rgb(211, 103, 26);
}